[mysqld]

server-id    = 2
relay-log    = /var/log/mysql/mysql-relay-bin.log
log_bin      = /var/log/mysql/mysql-bin.log
binlog_do_db = mydb
binlog_do_db = employees
binlog_do_db = movie_booking

general_log_file = /var/log/mysql/mysql.log
general_log      = 1

log_error=/var/log/mysql/error.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
log_queries_not_using_indexes = 1